/* Start of Global variables */
:root
{
    --btnCol: #40b3e3;
    --smCol:#5c5e5f;
    --txCol:#8c8b8b;
    --dCol:#464646;
    --hCol:
    --borderCol:
}
body
{
    --bgCol: #dfe6e9;
    --activeCol: var(--btnCol);
    --aCol:#a8adb5;
}
/* End of Global variables */

/* Start of Global styling */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    padding: 0;
    margin: 0;
    line-height: 1.4;
    box-sizing: border-box;
    color: var(--txCol);
    font-family: 'geometrialight'; font-size: 0.925em;
}
.container-f,.container-t,.container-b,.container-u
{
    display: flex;
    background: var(--bgCol);
}
.container-f > div
{
    flex: 1;
    padding: 10px 20px;    
}
.container-f,.container-u
{
    width: 90%;
    margin: 10px auto;
}
.container-u
{
   justify-content: space-around; 
   padding: 0 20px;
}
.container-t
{
    align-items: center;
    justify-content: space-around;
}
.container-f .third
{
    flex-basis: 30%;
}
.seventy
{
    flex-basis: 70%;
}
.container-in
{
    width: 80%;
    margin: auto;
    padding: 20px;
    margin: 15px auto;
    background: #90a9b5;
    color: #f5f7f9;
}
.container-in small
{
    color: #505050;
}
/* End of Global styling */

/* Start of Utility classes */
.text-center{text-align: center;}
.btn,.btn-s,button
{
    padding: 9px 18px;
    border-radius: 4px;
    text-decoration: none;
}
button
{
    border: 0;
}
.btn,.btn-s:hover
{
    border: 1px solid var(--btnCol);
    background: 0;
    color: var(--btnCol);
}
.btn:hover,.btn-s,button
{
    color: #fff;
    background: var(--btnCol);
}
.btn:hover,.btn-s:hover,button:hover{cursor: pointer}
.upper
{
    text-transform: uppercase;
}
.active
{
    color: var(--activeCol) !important;
    border-bottom: 2px var(--activeCol) solid !important;
}
input
{
    border: 0;
}
a
{
    text-decoration: none;
}
small
{
   color: var(--smCol);
}
h1,h2,h3,h4,h5,h6
{
    font-size: 1.8em;
    padding: 10px 0;
    width: 100%;
}
.bg-dark
{
    background: #333;
    color: #fff;
}
.bg-light
{
    background: #fff;
    color: #333;
}
.py-1{padding: 1rem 0;}.py-2{padding: 2rem 0;}.py-3{padding: 3rem 0;}
.px-1{padding: 0 1rem;} .px-2{padding: 0 1rem;} .px-3{padding: 0 3rem;}
.p-1{padding: 1rem} .p-2{padding: 2rem } .p-3{padding: 3rem}
.m-1{margin: 1rem;} .m-2{margin: 2rem;} .m-3{margin: 3rem;}
.mx-1{margin: 0 1rem;} .mx-2{margin: 0 1rem;} .mx-3{margin: 0 3rem;}
.my-1{margin: 1rem 0;}.my-2{margin: 2rem 0;}.my-3{margin: 3rem 0;}
img
{
    width: 250px;
    height: 250px;
    text-align: center;
}
.img-r
{
    border-radius: 50% !important;
}
img:hover
{
    transform: scale(1.2);
    transition: 2s transform;
}
.padding-t
{
    padding: 10px 0;
}
.clear
{
    clear: both;
}
.btn,btn-s,button,a
{
    transition: all 1s ease-out;
}

.btn,.btn-s,button,a
{
    transition: all 1s ease-out;
}
.primary-bg
{
    background: var(--btnCol);
}
.primary-txt
{
    color: : var(--btnCol);
}
.light-bg,.container-bg,.main-bg
{
    background-color: var(--bgCol);
}
.light-txt,.main-txt
{
    color: var(--bgCol);
}
.w-txt
{
    color: #fff;
}
.w-bg
{
    background: #fff;
}
.dark-bg,.hf-bg
{
    background: var(--hfbgCol);
}
.dark-txt,.hf-txt
{
    col: var(--hfbgCol);
}
/* End of Utility classes */

/* Start of header styling */
header
{
/*  background: #acc4ce;*/
    background: var(--bgCol);
}
#brand
{
    color: var(--aCol);
}
#brand-d
{
    font-size: 1.2em;
    color: var(--btnCol);
}
header #searchbar input[type='text']
{
    padding: 8px 0 8px 4px;
}
header #searchbar input[type='text']:focus
{
    outline: 2px solid var(--activeCol);
}
header #searchbar .btn-s
{
    border-radius: 0;
    text-decoration: none;
    padding: 6px 6px 7px 4px;
}
header ul li 
{
    display: inline-block;
    padding: 0 8px;
}
header ul li a
{
   text-decoration: none;
   color: var(--aCol);
   padding: 0 0 3px 0;
}
header ul li a:hover
{
    border-bottom: 1px solid var(--aCol);
}
/* Start of Mobile header */
#search-i
{
    width: 20px;
    height: 20px;
}
#search-i,#nav-tog{cursor: pointer;}
#nav-tog
{
    font-size: 1.5em;
    color: #141515;
}
.sm-display
{
    display: none;
}
/* End of Mobile header */

/* End of header styling */

/* Start of footer */
#author
{
    color: var(--btnCol);
    font-size: 1rem;
}
.fab
{
    margin: 0 10px;
    color: #0362b5;
}

/* End of footer */

/* Start of section-1 styling */
#section-1
{
    background-image: linear-gradient(to right,#c0c8cc,#9bd0e6);
/*    height: 50vh;*/
    background-size: cover;
    padding: 120px 0;
    text-align: center;
}
#welcome
{
    font-size: 4.5em;
    color: #fff;
}
#find-w:hover
{
    background: aliceblue;
    color: var(--dCol);
}
#find-w
{
    background: 0;
    color: #fff;
    border-radius: 0;
    border: 3px solid;
    border-color: aliceblue;
}
#find-p 
{
    display: none;
    text-align: center;
    background: #90a9b5;
    color: #f5f7f9;
}
#find-p p
{
    text-align: left;
}

/* End of section-1 styling */

/* Start of section-3 styling */
#gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#gallery img
{
    width: 305px;
    height: 278px;
}
/* End of section-3 styling */

/* Start of section-4 styling */
.services{text-align: center;}.services img{transform: none; background: var(--activeCol); border-radius: 50%;}
.services p{transition: 2s display; text-align: left; display: none; }.services p.open{transition: 2s display; display: block; }
/* End of section-4 styling */

/* Start of Login Page */
#img-about
{
    text-align: center;
}
.guest img
{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
/* End of Login Page */











